{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to private area</h1>
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('/assets/css/vendor/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('/assets/css/vendor/bootstrap-theme.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('/assets/js/vendor/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('/assets/js/vendor/bootstrap.min.js') }}"></script>
{% endblock %}